.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.help-text-avtale {
    display: block; 
    margin-bottom: 1rem; 
}

.errorInput {
    border: 2px solid red;
}
  
.errorMessage {
    color: red;
    font-size: 0.875em;
    margin-top: 0.5rem;
}

.successMessage {
    color: #4BB543; /* A visually friendly green color */
    background-color: #EBF9EB; /* A light green background for contrast */
    border: 1px solid #4BB543;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px; 
}

.errorMessageAlert {
    color: red;
    background-color: #F8D7DA; /* A light red background for contrast */
    border: 1px solid #FFC0CB;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}