.btn {
  font-family: "open-sans", sans-serif;
  padding: 7px 50px;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;

  &--orange {
    background-color: #f96d11;
    color: white;
    border: none;
    box-shadow: 0px 0px 10px #434343;

    &:hover {
      background-color: #db6212;
      color: white;
    }

    &:focus {
      background-color: #015ecc;
      color: white;
    }
  }

  &--gray {
    background-color: #f7f4f4;
    border: 1px solid #434343;
    color: #434343;

    // margin: 0px 40px;
    &:hover {
      background-color: #434343;
      color: #f7f4f4;
    }
  }

  &--form {
    background-color: #f96d11;
    color: white;
    border: none;
    margin-bottom: 70px;

    &:hover {
      background-color: #db6212;
      color: white;
    }

    &:focus {
      background-color: #015ecc;
      color: white;
    }
  }

  &--sponsor {
    background-color: #f96d11;
    color: white;
    border: none;
    margin-bottom: 10px;

    &:hover {
      background-color: #db6212;
      color: white;
    }

    &:focus {
      background-color: #015ecc;
      color: white;
    }
  }
}

.buttonlink {
  padding: 0px;

  &--margin {
    margin: 0px 40px;
  }
}

/* accessibility fix */
.btn:disabled {
  color: inherit;
  pointer-events: auto;
  background-color: inherit;
  border-color: inherit;
  opacity: 1;
}