.btn {
  font-family: "Open sans", sans-serif;
  padding: 5px 30px;
  border-radius: 7px;
  font-weight: 700;
  &--orange {
    background-color: #f96d11;
    color: white;
    border: none;
  }
  &--gray {
    background-color: #f7f4f4;
    border: 1px solid #434343;
    color: #434343;
  }
}
