.omfadder {
  background-color: #f7f4f4;
  padding: 30px;
}

.ledigefadder {
  padding: 30px;
}

.andrefadder {
  background-color: #f7f4f4;
  padding: 30px;
}

.faqfadder {
  padding: 30px;
  margin-bottom: 50px;
}

.fadderbarn {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  grid-gap: 30px;
  &__1 {
    flex: 1;
    background-image: url("../../public/helping-hands-student.jpg");
    background-position: 50% 25%;
    background-size: cover;
    height: 350px;
    width: 350px;
  }
  &__2 {
    flex: 1;
    background-image: url("../../public/helping-hands-obedi.jpg");
    background-position: 50% 25%;
    background-size: cover;
    height: 350px;
  }
  &__3 {
    flex: 1;
    background-image: url("../../public/helping-hands-musa.jpg");
    background-position: 50% 25%;
    background-size: cover;
    height: 350px;
  }
  &__4 {
    flex: 1;
    background-image: url("../../public/helping-hands-nathalya.jpg");
    background-position: 50% 25%;
    background-size: cover;
    height: 350px;
  }
  &__5 {
    flex: 1;
    background-image: url("../../public/helping-hands-joyce.jpg");
    background-position: 50% 25%;
    background-size: cover;
    height: 350px;
  }
  &__6 {
    flex: 1;
    background-image: url("../../public/helping-hands-jonas.jpg");
    background-position: 50% 25%;
    background-size: cover;
    height: 350px;
  }
  &__7 {
    flex: 1;
    background-image: url("../../public/helping-hands-amos.jpg");
    background-position: 50% 25%;
    background-size: cover;
    height: 350px;
  }
  &__8 {
    flex: 1;
    background-image: url("../../public/helping-hands-kurwa.jpg");
    background-position: 50% 25%;
    background-size: cover;
    height: 350px;
  }
  &__9 {
    flex: 1;
    background-image: url("../../public/helping-hands-joseph.jpg");
    background-position: 50% 25%;
    background-size: cover;
    height: 350px;
  }
  &__10 {
    flex: 1;
    background-image: url("../../public/helping-hands-ali.jpg");
    background-position: 50% 25%;
    background-size: cover;
    height: 350px;
  }
}

.andre {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  grid-gap: 30px;
  &__1 {
    flex: 1;
    background-image: url("../../public/mama-vanessa.jpg");
    background-position: 50% 25%;
    background-size: cover;
    height: 350px;
    width: 350px;
  }
  &__2 {
    flex: 1;
    background-image: url("../../public/ndelekwa.jpg");
    background-position: 50% 25%;
    background-size: cover;
    height: 350px;
    width: 350px;
  }
}
