.omfadder {
  background-color: #f7f4f4;
  padding: 30px;
  margin-top: 10px;
}

.ledigefadder {
  padding: 30px;
}

.andrefadder {
  background-color: #f7f4f4;
  padding: 30px;
}

.faqfadder {
  padding: 30px;
}
