.footerdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363636;
  color: white;
  padding: 10px 30px;
  font-size: 14px;
}

.icon {
  width: 20px;
  margin-right: 10px;
}
