.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.img-wrap {
  overflow: hidden;
  height: 0px;
  padding: 50% 0;
  position: relative;
  border: none; 
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.img-wrap:hover img {
  opacity: 0.75; 
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .img-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 575px) {
  .img-grid {
    grid-template-columns: 1fr;
  }
}
