.hero {
  background-image: url("../../public/DSCF3171.jpg");
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: -20px;
  &__p {
    color: white;
    text-shadow: 0px 0px 30px #000000;
    font-size: 18px;
    margin-top: 0;
  }
  &__content {
    width: 25%;
    margin: 30px;
    position: relative;
    top: 400px;
  }
}

.section1 {
  background-color: #f7f4f4;
  padding: 30px;
}

.section2 {
  padding: 30px;
}

.section3 {
  background-color: #f7f4f4;
  padding: 50px 30px;
  text-align: center;
  &__h3 {
    margin: 0px;
  }
  &__h4 {
    margin: 10px;
    margin-bottom: 25px;
  }
}

.section4 {
  padding: 30px;
}
