.hero {
  background-image: url("../../public/helping-hands-two-boys.jpg");
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: -35px;
  &__p {
    color: white;
    text-shadow: 0px 0px 30px #000000;
    font-size: 18px;
    margin-top: 0;
    // font-family: "open-sans", sans-serif;
    // margin-bottom: 1rem;
    // font-weight: 400; 
    // line-height: 27px;  
  }
  &__content {
    width: 25%;
    margin: 30px;
    position: relative;
    top: 400px;
  }
}

.section1 {
  background-color: #f7f4f4;
  padding: 30px;
  //display: flex;
  &__1 {
    //flex: 4;
    //margin-left: 70px;
    //width: 60%;
  }
  &__2 {
    //flex: 2;
    //margin: 15px;
  }
  &__3 {
    //flex: 2;
    //margin: 15px;
  }
}

.section2 {
  padding: 30px;
  padding-bottom: 40px;
  //margin: 0 130px;
  //display: flex;
  &__1 {
    //flex: 1;
  }
  &__2 {
    //flex: 4;
    padding-top: 10px;
  }
}

.section3 {
  background-color: #f7f4f4;
  padding: 50px 30px;
  padding-bottom: 70px;
  text-align: center;
  &__h3 {
    margin: 0px;
  }
  &__h4 {
    margin: 10px;
    margin-bottom: 25px;
  }
}

.section4 {
  padding: 30px;
  //display: flex;
  padding-bottom: 110px;
  padding-top: 10px;
  &__1 {
    //flex: 1;
    //margin-right: 30px;
  }
  &__2 {
    //flex: 1;
    //margin-right: 30px;
  }
  &__3 {
    //flex: 1;
    //margin-left: 0px;
  }
}

.headlinesection {
  padding: 30px 30px 0px 30px;
}

.boximage {
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  &--fadder {
    background-image: url("../../public/helping-hands-student.jpg");
    background-position: 50% 25%;
  }
  &--vipps {
    background-image: url("../../public/tanzania.jpg");
    background-position: 50% 25%;
  }
  &--students {
    background-image: url("../../public/helping-hands-students-small-uniforms.jpg");
    height: 270px;
    background-position: 50% 50%;
  }
  &--miriam {
    background-image: url("../../public/helping-hands-miriam.jpg");
    height: 270px;
    background-position: 50% 25%;
  }
  &--seminar {
    background-image: url("../../public/helping-hands-seminar-family-plan.jpg");
    height: 270px;
    background-position: 50% 50%;
  }
}

.boxtext {
  padding: 10px 30px;
  padding-top: 5px;
  height: 40%;
  margin-bottom: 10px;
  &--suksess {
    background-color: #f7f4f4;
  }
  &--bidra {
    background-color: white;
  }
}

.suksesslink {
  padding: 0;
  &:hover {
    color: inherit;
  }
  &:focus {
    color: inherit;
  }
}

// media queries
@media screen and (max-width: 1144px) {
  .hero__content {
    width: 30%;
  }
}

@media screen and (max-width: 1075px) {
  .boxtext {
    height: 45%;
  }
}

@media screen and (max-width: 955px) {
  .hero__content {
    top: 350px;
  }
  .boxtext {
    &--suksess {
      height: 50%;
    }
    &--bidra {
      height: 45%;
    }
  }
}

@media screen and (max-width: 920px) {
  .hero__content {
    top: 320px;
  }
}

@media screen and (max-width: 792px) {
  .boxtext {
    &--suksess {
      height: 55%;
    }
  }
}

@media screen and (max-width: 767px) {
  .boxtext {
    &--bidra {
      height: 40%;
    }
    &--suksess {
      height: 35%;
    }
  }
  .section4__1,
  .section4__2,
  .section4__3 {
    margin-bottom: 30px;
  }
  .section4 {
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 628px) {
  .hero__content {
    width: 80%;
    top: 30px;
  }
}

@media screen and (max-width: 583px) {
  .btn--gray {
    width: 80%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 575px) {
  .boxtext {
    &--bidra {
      height: 30%;
    }
  }
  .section1__1,
  .section1__2,
  .section1__3 {
    margin-bottom: 30px;
  }
  .section2 {
    text-align: center;
  }
  .rotate {
    transform: rotate(160deg);
  }
}

@media screen and (max-width: 510px) {
  .boxtext {
    &--bidra {
      height: 35%;
    }
    &--suksess {
      height: 40%;
    }
  }
  .section1__1,
  .section1__2,
  .section1__3 {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 386px) {
  .boxtext {
    &--bidra {
      height: 40%;
    }
    &--suksess {
      height: 45%;
    }
  }
  .section4 {
    margin-bottom: -50px;
  }
}
