.navbar {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 18px;
  margin-top: 0px;
  &__links {
    margin: 20px;
    margin-top: 30px;
  }
  &__logo {
    cursor: pointer;
  }
}

a,
.nav-link {
  padding: 10px 15px;
  &:hover {
    color: #f96d11;
  }
  &:focus {
    color: #f96d11;
  }
}

.navbar-nav {
  color: inherit;
  margin-right: 20px;
}

.nav-link {
  color: inherit;
  padding-right: 15px !important;
  padding-left: 15px !important;
  &:hover {
    color: #f96d11 !important;
  }
  &:focus {
    color: #f96d11 !important;
  }
}

.navbar-light,
.navbar-toggler {
  border: none;
  margin-bottom: 5px;
  margin-right: 5px;
  &:focus {
    box-shadow: none;
  }
}
