.historie1 {
  background-color: #f7f4f4;
  padding: 30px;
}
.historie2 {
  padding: 30px;
}
.historie3 {
  background-color: #f7f4f4;
  padding: 30px;
}
.historie4 {
  padding: 30px;
}
.historie5 {
  background-color: #f7f4f4;
  padding: 30px;
  padding-bottom: 70px;
}

@media screen and (min-width: 930px) {
  .sammenp {
    width: 80%;
  }
}
