.avtale {
    padding-top: 30px;
}

.selected-child-img {
    width: 100%;
    height: auto;
}

.selected-info-card {
    border-radius: 8px;
    margin-bottom: -5px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}